@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Creepster', system-ui, -apple-system;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.25rem;
}

p,
h1 {
  letter-spacing: 0.25rem;
}

.main-section {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 4rem;
  font-family: system-ui, -apple-system;
  background: linear-gradient(to right, #254659, #191D26),
    linear-gradient(to top, #000, #000);
  ;
}

.text-center {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}